* {
  border: 0;
  padding: 0;
  box-sizing: border-box;

}

header {
  background-color: green;
  padding: 5px;
  margin-bottom: 5px;
  width: 100%;
}
.hcontenitore{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: green;

}

header h1 {
  font-size: 50px;
}
nav {
  display: flex;
  justify-content: space-between;
  background-color: lightgreen;
  height: 60px;
  align-items: center;
}

.menu1 {
  display: flex;
  justify-content: space-around;
  flex: 1;
}
li {
  list-style-type: none;
  font-weight: bold;
}


a {
  text-decoration: none;
}
a:visited {
  color: black;
}

main {
  padding: 5px;
  display: flex;
  width: 100%;
  background-color: green;


}
main h2 {
  text-align: center;
}
article {
  flex-direction: column;
  width: 60%;
  background-color: lightgreen;
}
aside {
  text-align: center;
  width: 40%;
  background-color: lightgreen;
  margin-left: 5px;
  justify-content: center;
  flex-wrap: wrap;
}
.figure {
  width: 42%;
  margin: 0;
}
footer {
background-color: green;
}
